@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap");

* {
  box-sizing: border-box;
}

$dark-violet: hsl(256, 26%, 20%);
$greyish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

body {
  color: $dark-violet;
  font-family: "Karla", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "DM Serif Display", sans-serif;
}

h1,
h2 {
  font-size: 4em;
  position: relative;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  padding-top: 50px;
}

h3 {
  font-size: 2em;
}

p {
  line-height: 1.7;
  opacity: 0.8;
}

.line-top::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 150px;
}

.line-violet::before {
  background-color: $dark-violet;
}

.btn {
  background-color: transparent;
  border: 2px solid #fff;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  padding: 15px 25px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}

.btn-reverse {
  border-color: $dark-violet;
  color: $dark-violet;
  &:hover {
    opacity: 0.8;
    background-color: $dark-violet;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.navbar {
  li {
    margin-left: 30px;

    a {
      color: var(--dark-grayish-violet);
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1rem;
    }
  }
}

header {
  background-color: $dark-violet;
  color: #fff;
  padding: 110px 0;
  position: relative;
  margin-bottom: 250px;
  z-index: 1;

  &::after {
    content: "";
    background-image: url("../images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
  }

  &::before {
    content: "";
    background-image: url("../images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    bottom: -50%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .banner-image {
    max-width: 100%;
    margin-bottom: -250px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.second-section {
  .boxes {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;

      p {
        width: 60%;
        margin: 0 auto;
      }
    }

    .tile {
      margin-top: 80px;
      img {
        margin-bottom: 20px;
      }
    }
  }
}

/* Section styling */
.bg-violet {
  background-color: $dark-violet;
  background-image: url("./images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50% 100%;
  padding: 70px;
  margin: 100px auto;

  h2 {
    color: #fff;
    font-size: 3em;
    padding: 0;
    width: 60%;
  }
}

/* Footer styling */
footer {
  background-color: $very-light-gray;
  background-image: url("../images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding: 60px 0 30px;
}

footer {
  h4 {
    color: $dark-grayish-violet;
    text-transform: uppercase;
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      margin: 10px;

      a {
        color: $dark-violet;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}

.border-bottom {
  border-bottom: 1px solid $greyish-blue;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  .line-top::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .bg-violet {
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  }

  .bg-violet h2 {
    margin-bottom: 20px;
    width: 100%;
  }
}
